@font-face {
    font-family: Acetone;
    src: url(Acetone.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

header {
    color: white;
    margin-top: -12px;
    background-position: center left;
    background-repeat: no-repeat;
    background-position-y: 10%;
    position: sticky;
    top: 0;
}

header > p {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 25px;
}

nav {
    position: relative;
    height: 32px;
    background-color: rgb(73, 73, 73);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4); 
}
a.menu {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    line-height: 30px;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation{
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 2%;
    z-index: 0;
    background-color: #A2C640;
    width: 15.1vw;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

a:nth-child(1){
    width: 15.1vw;
}

nav .start-home,a:nth-child(1):hover~.animation {
    width: 15.1vw;
    left: 1.8%;
}

a:nth-child(2){
    width: 15.1vw;
}

nav .start-home,a:nth-child(2):hover~.animation {
    width: 15.1vw;
    left: 18%;
}

a:nth-child(3){
    width: 15.1vw;
}

nav .start-home,a:nth-child(3):hover~.animation {
    width: 15.1vw;
    left: 34.4%;
}

a:nth-child(4){
    width: 15.1vw;
}

nav .start-home,a:nth-child(4):hover~.animation {
    width: 15.1vw;
    left: 50.6%;
}

a:nth-child(5){
    width: 15.1vw;
}

nav .start-home,a:nth-child(5):hover~.animation {
    width: 15.1vw;
    left: 66.9%;
}

a:nth-child(6){
    width: 15.1vw;
}

nav .start-home,a:nth-child(6):hover~.animation {
    width: 15.1vw;
    left: 83.2%;
}

nav .start-home,a:nth-child(0):hover~.animation {
    width: 15.1vw;
    left: 1.8%;
}

nav > ul > li {
    display: inline-block;
}

h1 {
    font-family: Acetone, sans-serif;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
    font-size: 30pt;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin-top: 15px;
    padding: 5px;
    margin-bottom: 20px;
}


section {
    max-width: 375px;
    margin: auto;
}

section > ul > li {
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;
    height: 110px;
}

aside {
    background-color: rgba(0, 0, 0, 0.7);
    height: 98px;
    margin: -12px 5px 0px 110px;
    color: white;
    border-radius: 5px;
}

section > ul > li > aside > h2 {
    font-size: 16pt;
    margin: 0px 0px 0px 0px;
    padding: 5px;
}

section > ul > li > aside > p {
    margin: 0px;
    padding: 10px 5px 50px 5px;
    border-radius: 4%;
}

ul {
    list-style-type: none;
}

.img {
    width: 100px;
    margin-bottom: -91px;
    margin-left: -265px;
    border-radius: 10%;
}

.Zoom {
    border-radius: 2%;
    height: 600px;
    margin-bottom: 100px;  
    transition: .6s;      
}

.imgZoom {
    width: 350px;
    border-radius: 2%;
    margin-top: 11px;
    margin-bottom: 20px;
    transition: .6s;   
}

.asideZoom {
    height: 215px;
    margin: -10px 10px 0px 10px;
    color: white;
    border-radius: 2%;
    transition: .6s;   
}

.Zoom2 {
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;
    height: 110px;
    transition: .6s; 
}

.imgZoom2 {
    width: 100px;
    margin-bottom: -91px;
    margin-left: -265px;
    border-radius: 10%; 
    transition: .6s; 
}

.asideZoom2 {
    background-color: rgba(0, 0, 0, 0.7);
    height: 98px;
    margin: -12px 5px 0px 110px;
    color: white;
    border-radius: 5px;
    transition: .6s; 
}