* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

header > p {
    margin-bottom: 15px;
}

a.menu {
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 5px;
}

nav > ul > li {
    margin-bottom: 15px;
    display: inline-block;
}

a.menu:hover {
    color: white;
    background-color: black;
    border: 1px solid rgb(0, 0, 0);
}

div {
    max-width: 375px;
    margin: auto;
}

h1 {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

h2 {
    margin-top: 15px;
    padding: 5px;
    margin-bottom: 80px;
}

div > p {
    padding: 80px 0 63px 0px;
    border: 2px solid black;
}

.img {
    width: 150px;
    transform: translate(0%, -160%);
    margin-bottom: -70px;
}

.img2 {
    width: 150px;
    transform: translate(0%, -335%);
    margin-bottom: -70px;
}

.img3 {
    width: 150px;
    transform: translate(0%, -170%);
    margin-bottom: -70px;
}

.birl {
    margin-bottom: 75px;
}